@import url('https://fonts.googleapis.com/css2?family=Beth+Ellen&family=Devonshire&family=Julee&family=Lakki+Reddy&family=Leckerli+One&family=Marck+Script&family=Meddon&family=Merienda&display=swap');

* {
  background-color: black;
  color: white;
  font-family: 'Julee', cursive;
}

